_ngo
_xmsgs
ipcore_dir
iseconfig
xlnx_auto_0_xdb
xst
*.cmd_log
*.lso
*.stx
*.tfi
*.xst
*.html
*.xwbt
*.ncd
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.xml
*.bgn
*.bit
*.bld
*.drc
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.gise
*.xise
*.log
