NET "clk50" LOC = A10;

NET "vga_R" LOC = P16;//E12;
NET "vga_G" LOC = R16;//B15;
NET "vga_B" LOC = T15;//C15;
NET "vga_h_sync" LOC = T14;//D14;
NET "vga_v_sync" LOC = R12;//E15;

// D1
NET "led1" LOC = T9;
// D3
NET "led2" LOC = R9;

NET "ser_in" LOC = E13;
NET "ser_out" LOC = B16;

#NET "vga_B" IOSTANDARD = LVTTL;
#NET "vga_G" IOSTANDARD = LVTTL;
#NET "vga_h_sync" IOSTANDARD = LVTTL;
#NET "vga_R" IOSTANDARD = LVTTL;
#NET "vga_v_sync" IOSTANDARD = LVTTL;

# NET "vga_B" SLEW = FAST;
# NET "vga_B" OUT_TERM = UNTUNED_75;
